@font-face {
    font-family: irish;
    src: url(fonts/Irish_Grover/IrishGrover-Regular.ttf);
}

@font-face {
    font-family: patrick;
    src: url(fonts/Patrick_Hand_SC/PatrickHandSC-Regular.ttf);
}

h1 {
    font-family: irish;
    font-size: 40px;
}

h2 {
    font-family: patrick;
    text-shadow: 2px 2px rgba(63, 126, 198, 0.5);
}

p {
    font-family: patrick;
    font-size: 20px;
}

body {
    background-image: url(images/sky.png);
    background-size: cover;
    background-attachment: fixed;
}

.button {
    font-family: patrick;
    font-size: 30px;
    text-shadow: 2px 2px rgba(63, 126, 198, 0.5);
    text-decoration: solid;
    color: black;
}

#img-gallery {
    size: 440px;
    gap: 40px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

#title {
    font-size: 50px;
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px rgb(63, 126, 198);
    text-decoration: none;
}

#credit {
    display: inline-block;
    text-align: center;
    font-family: patrick;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.85);
    padding: 20px;
    margin-bottom: 0px;
    margin-top: 0px;
}